html{
    background-color:var(--Violet);
}

body{
    background:url(../images/bg-desktop.svg) center center no-repeat;
    font-family:var(--fontPopins) ;
    font-size: 1.6rem;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1{
    width: 1200px;
    max-width: 100%;
}

.header{
    margin:2rem 0 3rem 0;
    width: 160px;
}

.header img{
    max-width: 200px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info-texto{
    color: #fff;
    margin-left: 2rem;
}

.info-texto h1{
    font-family: var(--fontPopins);
    font-weight: 600;
    font-size: 2rem;
    margin-top: 3rem;
}

.info-texto p{
    line-height: 1.5rem;
    font-size: 1rem;
    opacity: 1rem;
    margin-top: 2rem;
}

button{
    background-color: #FFF;
    padding: 15px 50px ;
    transition: 0.4s;
    color:var(--Violet);
    border-radius: 50px;
    font-size: 1.1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    width: 200px;
    margin-top:3rem;
}

button:hover {
    cursor: pointer;
    color: #fff;
    background-color:var(--SoftMagenta);
}

.footer{
    display: flex;
    justify-content:flex-end;
    padding: 0;
}

.footer a{ 
    border-radius: 50%;
	border: 2px solid #fff;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	height: 3rem;
	width: 3rem;
	text-decoration: none;
}

.footer a:hover {
    border-color: var(--SoftMagenta);
    color:var(--SoftMagenta);
}